<section class="content_wrap">
    <div class="grid">
        @if(isNewOrder) {
            <div class="col">
                <div class="grid_card flex" (click)="newOrder()">
                    <div class="neworder">
                        <span nz-icon nzType="plus"></span>
                    </div>
                </div>
            </div>
        }
        @for(item of _listOrder(); track item) {
            <div class="col">
                <div class="grid_card" (click)="setOrder(item)">
                    <div class="card_many">
                        <span nz-icon nzType="dollar" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></span>
                    </div>
                    <div class="card_remove">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </div>
                    <div class="card_od">
                        {{item.SOODNO}}
                    </div>
                    <div class="card_date">
                        {{item.createdAt | date: 'dd/MM/yyy'}}
                    </div>
                    <div class="card_name">
                        {{item.tot020_ordhed!.CSTMCD == null? "No Name": item.tot020_ordhed!.CSTMCD}}
                    </div>
                    <div class="card_status">
                        <!-- card_status_yllow -->
                        <!-- card_status_red -->
                        <span class="card_status_main" [ngClass]="{'card_status_yllow': item.QTESTS}"></span>
                        <span class="card_status_main" [ngClass]="item.ORDSTS == true ? (item.ORDAPPSTS == true ? 'card_status_yllow' : 'card_status_red'):''"></span>
                        <span class="card_status_main" [ngClass]="{'card_status_yllow': item.PAYSTS}"></span>
                        <span class="card_status_main" [ngClass]="{'card_status_yllow': item.SHIPSTS}"></span>
                    </div>
                </div>
            </div>
        }
        
    </div>
</section>
