<nz-card nzHoverable style="width: 100%" [nzBordered]="false" [nzExtra]="tableToolbar" [nzTitle]="tableTitle">
  <ng-content></ng-content>
  <div *ngIf="btnConfirm" [ngStyle]="{'margin-top':'10px'}">
    <ng-container *ngTemplateOutlet="btnConfirm"></ng-container>
  </div>
</nz-card>
<ng-template #tableToolbar>
  <div class="ant-pro-table-toolbar">
    <div *ngIf="btnTpl" class="ant-pro-table-toolbar-option">
      <ng-container *ngTemplateOutlet="btnTpl"></ng-container>
    </div>
    <div *ngIf="isNormalTable" class="ant-pro-table-toolbar-default-option">
      <nz-divider nzType="vertical"></nz-divider>
      <nz-space nzDirection="horizontal" [nzSize]="16">
        <i
          *nzSpaceItem
          class="hand-model"
          nz-icon
          nz-popover
          nz-tooltip
          nzPopoverPlacement="bottomRight"
          nzPopoverTrigger="click"
          nzTheme="outline"
          [nzTooltipTitle]="CTWCtitle1"
          nzType="setting"
          [nzPopoverContent]="contentTemplate"
          [nzPopoverTitle]="popoverTitle"
          [(nzPopoverVisible)]="tableConfigVisible"
        ></i>
        <i *nzSpaceItem class="hand-model" nz-icon nz-tooltip nzTheme="outline" [nzTooltipTitle]="CTWCtitle2" nzType="reload" (click)="reloadClick()"></i>
        <ng-container *appScreenLessHidden="'393'">
          <i *nzSpaceItem class="hand-model" nz-dropdown nz-icon nz-tooltip nzTheme="outline" [nzTooltipTitle]="CTWCtitle3" nzTrigger="click" nzType="column-height" [nzDropdownMenu]="tableSizeMenu"></i>
        </ng-container>
      </nz-space>
    </div>
  </div>
</ng-template>
<nz-dropdown-menu #tableSizeMenu>
  <ul nz-menu>
    <li *ngFor="let item of tableSizeOptions" nz-menu-item [nzSelected]="item.selected" (click)="tableSizeMenuClick(item)">
      <span>{{ item.sizeName }}</span>
    </li>
  </ul>
</nz-dropdown-menu>
<ng-template #contentTemplate>
  <ul cdkDropList style="min-width: 315px" (cdkDropListDropped)="dropTableConfig($event)">
    <li *ngFor="let item of tableHeaders" class="flex space-between" cdkDrag style="padding: 4px 16px 8px 0">
      <div>
        <i class="m-r-8 hand-model-move" cdkDragHandle nz-icon nzTheme="outline" nzType="drag"></i>
        <label nz-checkbox [(nzChecked)]="item.show" (nzCheckedChange)="changeSignalCheck($event, item)">{{ item.title }}</label>
      </div>
      <div>
        <i
          class="hand-model"
          nz-icon
          nz-tooltip
          nzTheme="outline"
          [nzTooltipTitle]="CTWCtitle4"
          nzType="vertical-right"
          [ngStyle]="{ color: item.fixedDir === 'left' && item.fixed ? '#409eff' : '' }"
          (click)="fixedTableHead('left', item)"
        ></i>
        <nz-divider nzType="vertical"></nz-divider>
        <i
          class="hand-model"
          nz-icon
          nz-tooltip
          nzTheme="outline"
          [nzTooltipTitle]="CTWCtitle5"
          nzType="vertical-left"
          [ngStyle]="{ color: item.fixedDir === 'right' && item.fixed ? '#409eff' : '' }"
          (click)="fixedTableHead('right', item)"
        ></i>
      </div>
    </li>
  </ul>
</ng-template>
<ng-template #popoverTitle>
  <div class="space-between">
    <span>
      <label nz-checkbox [(nzChecked)]="currentTableComponent.tableConfig.showCheckbox" (nzCheckedChange)="changeTableCheckBoxShow($event)">{{'CTWCtitle6' | translate}}</label>
      <label nz-checkbox [nzIndeterminate]="allTableFieldIndeterminate" [(nzChecked)]="allTableFieldChecked" (nzCheckedChange)="changeAllTableTableConfigShow($event)">{{'CTWCtitle7' | translate}}</label>
    </span>
    <button class="operate-text" nz-button nzType="text" (click)="reset()">{{'CTWCtitle8' | translate}}</button>
  </div>
</ng-template>
<ng-template #CTWCtitle1>
      <span>{{'CTWCtitle1' | translate}}</span>
</ng-template>
<ng-template #CTWCtitle2>
  <span>{{'CTWCtitle2' | translate}}</span>
</ng-template>
<ng-template #CTWCtitle3>
  <span>{{'CTWCtitle3' | translate}}</span>
</ng-template>
<ng-template #CTWCtitle4>
  <span>{{'CTWCtitle4' | translate}}</span>
</ng-template>
<ng-template #CTWCtitle5>
  <span>{{'CTWCtitle5' | translate}}</span>
</ng-template>
