<div nz-row>
  <div nz-col [nzLg]="24" [nzMd]="24" [nzOrder]="formOrder" [nzSm]="24" [nzXl]="12" [nzXs]="24" [nzXXl]="12">
    <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label nzFor="email" nzRequired nzSpan="24">Địa chỉ email</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập địa chỉ email" nzSpan="24">
          <input id="email" formControlName="email" nz-input placeholder="Địa chỉ email" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="password" nzSpan="24">Tên hiển thị</nz-form-label>
        <nz-form-control nzErrorTip="Tên hiển thị" nzSpan="24">
          <input id="nickName" formControlName="nickName" nz-input placeholder="Tên hiển thị" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="desc" nzRequired nzSpan="24">Giới thiệu cá nhân</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập giới thiệu cá nhân" nzSpan="24">
          <textarea id="desc" formControlName="desc" nz-input placeholder="Vui lòng nhập giới thiệu cá nhân" rows="4"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="password" nzRequired nzSpan="24">Quốc gia/Vùng</nz-form-label>
        <nz-form-control nzErrorTip="Tên riêng" nzSpan="24">
          <nz-select formControlName="area">
            <nz-option nzLabel="Việt Nam" nzValue="jack"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="password" nzRequired nzSpan="24">Tỉnh/thành phố </nz-form-label>
        <nz-form-control nzErrorTip="Tên riêng" nzSpan="24">
          <div nz-row [nzGutter]="[16, 16]">
            <div nz-col nzSpan="12">
              <nz-select nzShowSearch nzAllowClear formControlName="province" (ngModelChange)="provinceChange($event)" >
                <nz-option *ngFor="let p of provinceData" [nzValue]="p['code']" [nzLabel]="p['name']"></nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="12">
              <nz-select nzAllowClear formControlName="city">
                <nz-option *ngFor="let c of cityData" [nzValue]="c['code']" [nzLabel]="c['name']"></nz-option>
              </nz-select>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="street" nzRequired nzSpan="24">Địa chỉ đường phố</nz-form-label>
        <nz-form-control nzErrorTip="Địa chỉ đường phố" nzSpan="24">
          <input id="street" formControlName="street" nz-input placeholder="Địa chỉ đường phố" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="telephone" nzRequired nzSpan="24">Số điện thoại</nz-form-label>
        <nz-form-control nzSpan="24" [nzErrorTip]="combineTpl">
          <input id="telephone" formControlName="telephone" nz-input placeholder="Số điện thoại" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="mobile" nzRequired nzSpan="24">Số điện thoại di động</nz-form-label>
        <nz-form-control nzSpan="24" [nzErrorTip]="combineTpl">
          <input id="mobile" formControlName="mobile" maxlength="11" nz-input placeholder="Số điện thoại di động" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row>
        <nz-form-control [nzSpan]="14">
          <button nz-button nzType="primary">Cập nhật thông tin</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div class="avatar" nz-col [ngClass]="{ 'is-full': formOrder === 1 }" [nzLg]="24" [nzMd]="24" [nzOrder]="avatarOrder" [nzSm]="24" [nzXl]="12" [nzXs]="24" [nzXXl]="12">
    <div *ngIf="formOrder === 0" class="m-b-8">Ảnh đại diện</div>
    <div class="avatar-wrap">
      <nz-avatar *ngIf="linkavatar" class="m-b-8" [nzSize]="144" [nzSrc]="linkavatar()"></nz-avatar>
      <div class="upload">
        <nz-upload 
          nzAction="{{url}}" 
          [nzShowUploadList]="false" 
          [nzHeaders]="{ authorization: 'authorization-text' }" 
          (nzChange)="handleChange($event)">
          <button nz-button>
            <i nz-icon nzType="upload"></i>
            Thay đổi ảnh đại diện
          </button>
        </nz-upload>
      </div>
    </div>
  </div>
</div>
<ng-template #combineTpl let-control>
  <ng-container *ngIf="control.hasError('message')">{{ control.errors.message }}</ng-container>
  <ng-container *ngIf="control.hasError('required')">Phần bắt buộc</ng-container>
</ng-template>
