<nz-card [nzBodyStyle]="{ padding: 0 }">
    <nz-tabset nzCentered [nzTabBarStyle]="{ paddingLeft: '15px', paddingRight: '15px' }">
      <nz-tab [nzTitle]="NewOrder">
        <ng-container *ngTemplateOutlet="notifiNewOrderTpl"></ng-container>
      </nz-tab>
      <ng-template #NewOrder>
        <span>Đơn mới({{totalOrderNew()}})</span>
      </ng-template>
      <nz-tab [nzTitle]="QTESTSOrder">
        <ng-container *ngTemplateOutlet="notifiBaogiaTpl"></ng-container>
      </nz-tab>
      <ng-template #QTESTSOrder>
        <span>Báo giá({{totalOrderQTESTS()}})</span>
      </ng-template>
      <nz-tab [nzTitle]="ORDSTSOrder">
        <ng-container *ngTemplateOutlet="notifidathangTpl"></ng-container>
      </nz-tab>
      <ng-template #ORDSTSOrder>
        <span>Đặt hàng({{totalOrderORDSTS()}})</span>
      </ng-template>
      <nz-tab [nzTitle]="PAYSTSOrder">
        <ng-container *ngTemplateOutlet="notifithanhtoanTpl"></ng-container>
      </nz-tab>
      <ng-template #PAYSTSOrder>
        <span>Thanh toán({{totalOrderPAYSTS()}})</span>
      </ng-template>
    </nz-tabset>
  </nz-card>

  <ng-template #notifiNewOrderTpl>
    <app-list-order [isNewOrder]="true" [lstOrder]="listOrderService.listOrderNew()"></app-list-order>
  </ng-template>

  <ng-template #notifiBaogiaTpl>
    <app-list-order [lstOrder]="listOrderService.listOrderQTESTS()"></app-list-order>
  </ng-template>

  <ng-template #notifidathangTpl>
    <app-list-order></app-list-order>
  </ng-template>

  <ng-template #notifithanhtoanTpl>
    <app-list-order></app-list-order>
  </ng-template>