<app-page-header [pageHeaderInfo]="pageHeaderInfo" />
<div class="normal-table-wrap">
    <nz-card class="m-b-10" nzHoverable [nzBodyStyle]="{ 'padding-bottom': 0 }">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
            <div nz-col [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
                <nz-form-item>
                    <nz-form-label [nzFor]="" >Số hóa đơn</nz-form-label>
                    <nz-form-control [nzErrorTip]="">
                        <input name="SIPLNNO" id="SIPLNNO" nz-input  [(ngModel)]="tin020().SIPLNNO" [readOnly]="true" [ngClass]="['bgdisable']"/>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
                <nz-form-item>
                    <nz-form-label [nzFor]="">Trạng thái</nz-form-label>
                    <nz-form-control [nzErrorTip]="">
                        <input name="STSNM" id="STSNM" nz-input   [(ngModel)]="tin020().STSNM" [readOnly]="true" [ngClass]="['bgdisable']"/>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
                <nz-form-item>
                    <nz-form-label [nzFor]="">PT Thanh toán</nz-form-label>
                    <nz-form-control>
                        <nz-select name="DIVKBN" id="DIVKBN" [(ngModel)]="tin020().DIVKBN" >
                            @for(item of divkbns(); track item) {
                                <nz-option  [nzLabel]="item.DIVNM" [nzValue]="item.DIVKBN"></nz-option>
                            }
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">

            <div nz-col [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
                <nz-form-item>
                    <nz-form-label [nzFor]="" nzRequired>Ngày nhập hàng</nz-form-label>
                    <nz-form-control> 
                        <nz-date-picker name="ARVLPLNDATE" [(ngModel)]="tin020().ARVLPLNDATE"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
                <nz-form-item>
                    <nz-form-label [nzFor]="" nzRequired>Nhà cung cấp</nz-form-label>
                    <nz-form-control [nzErrorTip]="'Vui lòng chọn nhà cung cấp'">
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                            <input name="SPPLYCD" id="SPPLYCD" [(ngModel)]="userDetail().CSTMCD" type="text"  nz-input [readOnly]="true" [ngClass]="['bgdisable']" />
                        </nz-input-group>
                        <ng-template #suffixIconButton>
                            <button nz-button nzType="primary" (click)="resultSupply()"><span nz-icon nzType="search"></span></button>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXl]="8" [nzXs]="24" [nzXXl]="8">
               <span [ngClass]="['styleName']">{{userDetail().CSTNAME}}</span> 
            </div>
        </div>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
            <div nz-col [nzLg]="24" [nzMd]="24" [nzSm]="24" [nzXl]="24" [nzXs]="24" [nzXXl]="24">
                <nz-form-item>
                    <nz-form-label [nzFor]="">Ghi chú</nz-form-label>
                    <nz-form-control>
                        <textarea
                        nz-input
                        [nzAutosize]="{ minRows: 2, maxRows: 6 }"
                        ></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </nz-card>

    <app-card-table-wrap [tableTitle]="'Danh sách sản phẩm'" (reload)="reloadTable()" [btnTpl]="tableBtns" [btnConfirm]="tableBtnsConfirm">

        <app-ant-table
           (changePageNum)="getDataList($event)"
           [tableConfig]="tableConfig"
           [tableData]="dataList()"
        >
        </app-ant-table>
        <ng-template #operationTpl></ng-template>
        <ng-template #product_nameTpl let-product="product">
            {{ product.product_name }}
        </ng-template>
        <ng-template #proidTpl let-product="product">
            {{ product.id }}
        </ng-template>
        <ng-template #qtycdTpl let-QTYCD="QTYCD"> 
            @switch (QTYCD) {
                @case ("01") {
                    <span>Mới</span>
                }
                @case ("02") {
                    <span>Củ</span>
                }
                @case ("03") {
                    <span>Qua sử dụng</span>
                }
                @default {
                    <div>Mới</div>
                } 
            }
        </ng-template>
        <ng-template #sipriceTpl let-SIPRICE="SIPRICE">
            {{SIPRICE | currency: 'VND' }}

        </ng-template>
        <ng-template #soluongTpl let-ARVLPLNQTY="ARVLPLNQTY">
            {{ARVLPLNQTY}}

        </ng-template>
        <ng-template #thanhtienTpl let-ARVLPLNQTY="ARVLPLNQTY" let-SIPRICE="SIPRICE">
            {{(ARVLPLNQTY*SIPRICE) | currency : 'VND'}}

        </ng-template>
    </app-card-table-wrap>
    <ng-template #tableBtns>
        <button *appAuth="ActionCode.Spin00101AddEdit" (click)="add()" nz-button nzType="primary" class="m-r-8">
            <i nz-icon [nzType]="iconType()"></i>
            {{namebtnAdd()}}
          </button>
    </ng-template>
    <ng-template #tableBtnsConfirm>
        @if(dataList().length > 0) {
            <button *appAuth="ActionCode.Spin00101Confirm" (click)="btnConfirm()" nz-button nzType="primary" class="m-r-8">
                <i nz-icon nzType="caret-right"></i>
                Xác nhận
            </button>
        }
    </ng-template>
</div>